nav.menu{
    font-family: "Poppins";
    text-align: left;
    background-color: rgb(145, 245, 245);
    width: 300px;
}
nav.menu ul{
    list-style-type: "⌚";
    padding: 1rem;
    list-style-position: inside;
}

nav.menu a{
    text-decoration: none;
    font-weight: 400;
    color: black;
    padding: 0 0.5rem;
}

nav.menu a:visited{
    color:black
}

nav.menu a:hover{
    background-color: rgb(13, 102, 102);
    color:rgb(158, 231, 186);
}

nav.menu li{
    padding: 0.3rem 2rem;
}