.baslik{
    background-color: rgb(56, 52, 52);
    color: aliceblue;
    text-align: left;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
  
}
.baslik td:nth-child(2){
    width: 150px;
}
.baslik td:nth-child(3),.baslik td:nth-child(6){
    text-align: center;
}
.baslik td:nth-child(4),.baslik td:nth-child(5){
    text-align: right;
    width: 50px;
}
.baslik:hover{
    background-color: rgba(116, 102, 102, 0.849);
    color:black;
}

.mother tr:nth-child(odd){
    background-color: rgb(190, 190, 190);
    text-align: left;
}
.mother tr:nth-child(odd):hover{
    background-color: black;
    color:bisque;
    text-align: left;
}
.mother tr:nth-child(even){
    background-color: rgb(230, 230, 230);
    text-align: left;
}
.mother tr:nth-child(even):hover{
    background-color: rgb(189, 111, 111);
    color:whitesmoke;
    text-align: left;
}
.mother td:nth-child(3),.mother td:nth-child(6){
    text-align: center;
}
.mother td:nth-child(4),.mother td:nth-child(5){
    text-align: right;
}
.mother tr>td  i:first-child:hover{
     color: blue;
}
.mother tr>td  i:last-child:hover{
    color:red;
}

  
.father tr:only-child{
    background-color: rgb(56, 52, 52);
    color: aliceblue;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.father tr:only-child:hover{
   background-color:rgba(116, 102, 102, 0.849);
    color:black;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
div{
    display: inline-block;
    text-align: right;
}

.buton{
    margin-top: 10px;    
}

.buton :first-child{
    text-align: right;
    padding: 10px 5px; 
    background-color: rgb(255, 86, 64);
    color:whitesmoke;
    border: 1.2px solid rgb(255, 86, 64);
    font-weight: bold;

}
.buton :first-child:hover{
    text-align: right;
    padding: 10px 5px;
    background-color:rgb(165, 126, 40);
    color:black;
    border: 1.2px solid rgb(165, 126, 40);

}
.buton :first-child::before{
    content: "\f07a";
    font: var(--fa-font-solid);
    text-align: right; 
    color:whitesmoke;
}
.buton :first-child:hover::before{
    content: "\f07a";
    font: var(--fa-font-solid);
    text-align: right; 
    color:black;
}

.buton :last-child{
    text-align: right;
    padding: 10px 5px;
    background-color: rgb(255, 86, 64);
    color:whitesmoke;
    border: 1.2px solid rgb(255, 86, 64);
    font-weight: bold;
}
.buton :last-child:hover{
    text-align: right;
    padding: 10px 5px;
    background-color:rgb(165, 126, 40);
    color:black;
    border: 1.2px solid rgb(165, 126, 40);
 
}
.buton :last-child::before{
    content: "\f09d";
    font: var(--fa-font-solid);
    text-align: left; 
    color:whitesmoke; 
}
.buton :last-child:hover::before{
    content: "\f09d";
    font: var(--fa-font-solid);
    text-align: left; 
    color:black; 
}


  