html,
body {
    height: 100%;
    width: 100%;
    background-color: #422759;
}
.cerceve{
    width: 1000px;
    height: 550px;
    display: flex;
    background-color: aqua;
}
.veriler{
    flex: 40%;
    background-color: #f7f7f9;
}
.resim{
    flex: 60%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    background-image: url("bg-login.jpg");
    background-size: cover; 
    color:#fff2fe;

}
.h-yazi{
    text-align: center;
    padding:0;
}
 
.h-yazi h1{
    margin: 0;
    font-size: 3rem;;
}
.h-yazi h3{
    margin: 0;
}
.veriler{
    display:flex;
}
.veriler .form{
    justify-content: center;
    align-items: center;
}
form :only-child{
    border-top-style: hidden;
    border-left-style: hidden;
    border-left-style: hidden;
}
.veriler .buton{
    display: flex;
    align-items: flex-end;
}
.veriler a{
    text-decoration: none;
    color: gray;
}
.veriler a::before{
    content: "\f137";
    font: var(--fa-font-solid);
    font-size: 0.8rem;
    margin-right: 10px;
}
