body {
    height: 100%;
    width: 100%;
    background-color: #5E4A6F
  }
.border{
    background-color: #EBE9EE ;
    display: flex;
}
.leftt{
    flex:40%
}
.leftt::before{
    content: "\f137";
    font:var(--fa-font-solid);
}
.right{
    flex:60%;
    background-image: url("../4.homework/bg-login.jpg");
    background-size: cover;
    background-position: center center;
    background-color:#e90a6f ;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    position: relative;
    opacity: 1.5;
}
.right::after{
    content: "";
    position: absolute;
    top:0; left:0; right:0; bottom:0;
    opacity: 0.3;
}
.right h2{
    z-index: 1;
    color: white;
    padding: 0;
    margin: 0;

}

.right h5{
    z-index: 1;
    color:white;
    margin: 0;
    padding: 0;
}
div{
    text-align: center;
}
