body {
    height: 100%;
    width: 100%;
    background-color: rgb(235, 235, 235);
}

.grid {
    display: inline-block;
    background-color: rgb(113, 111, 111);
    color: white;
    margin: 0;
    padding: 0px 4px;
}

.inp {
    display: none;
}
ul{
    display: none;
}

.inp:checked + ul {
    display:block;
}

.menu {
    width: 195px;
    list-style-type: none;
    padding: 0;
    background-color: rgb(88, 81, 81);
}

.menu li {
  text-align: center;
  display: inline-block;
}

.menu li:hover {
    background-color: rgb(15, 14, 14);
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding : 1rem 1.3rem;
    width: 140px;
}

.menu li::before {
   
    font-size: 0.8rem;
    content: "\e5c3";
    font-family: 'Material Symbols Outlined';
}

